<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="e.examWidows.Properties.Settings.Setting" connectionString="Data Source=DESKTOP-07O4ILP\CLIENT;Initial Catalog=e_exam;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="e.examWidows.Properties.Settings.Setting1" connectionString="Data Source=DESKTOP-07O4ILP\CLIENT;Initial Catalog=e_exam;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>